*{
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    background-color: #141e30;
    height: 5em;
}

header h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}

/* MENU */

nav {
    font-family: consolas;
    display: block;
    display: flex;
    justify-content: center;
    height: 1.7em;
    background-color: #141e30;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
    position: relative;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1em 1em 0 0;
    transition: all ease-in-out 400ms;
}

nav a:hover {
    color: #03e9f4;
    background-color: white;
}

/* FORM */
.form {
    background: linear-gradient(#141e30, #243b55);
    border-radius: 1em;
    color: white;
    width: 50em;
    height: 45em;
    padding: 2em 5em 2em 5em;
    margin: 0 auto;
    margin-top: 1.6em;
    margin-bottom: 2em;
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.6);
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-size:xx-large;
    margin-bottom: 0.6em;
}
.form p{
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size:small;
}

.form td{
    padding: 0.6em;
}

.form select{
    width: 50%;
    height: 2em;
}

.form .texto{
    width: 65%;
    height: 2em;
}

.boton {
    float: right;
    height: 4em;
    width: 12em;
    background-color: #141e30;
    border-radius: 2em;
    color: white;
    text-transform: uppercase;
    border: 0.2em solid white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.boton:hover {
    background-color: #03e9f4;
    color: white;
    box-shadow: teal;
}

/* INSERCION */

.insercion{
    margin: 1em 0 0 5em;
}

/* TABLE */

.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #141e30;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #141e30;
}